.carousel__title {
    padding: 1em 0 0.5em 0;

    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 7px 5px #cecece;

    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;

    color: var(--main-highlight-color);
    background-color: var(--second-background-color);
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .4em 0 .7em 0;
}

.card {
    margin: 0.8em 1em;
    padding: 1em;

    background: var(--second-background-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card__description {
    display: flex;
    justify-content: space-between;

    margin-bottom: .5em;
}

.description__title {
    font-weight: 700;
    color: var(--main-highlight-color);
}

.description__title-book {
    margin: .5em 0;

    font-size: 18px;
    font-weight: 700;

    color: var(--second-highlight-color);
}

.description__text {
    font-size: 14px;
}

.description__image {
    height: 168px;
    width: 160px;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.buttons__item {
    margin: 0 .3em;
}

.button__anchor {
    height: 48px;
    width: 161px;
    padding: 1em 2.2em;

    color: var(--second-background-color);
    background-color: var(--main-highlight-color);

    text-decoration: none;
}

.second__carousel-title {
    text-shadow: none;
}

.rating__image {
    margin: .3em 0;
}

@media screen and (min-width: 1024px) {
    .carousel__title {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 1.5em 0 5em 0; 
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        top: 62%
    }

    .card {
        width: 40%;
        margin: 3em auto 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carousel__container {
        display: flex;
        align-items: center;
        margin: 3em 10vw 4em 10vw;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .description {
        margin-top: .5em;
        margin-right: 1em;
    }

    .description__title {
        font-size: 32px;
    }

    .description__title-book {
        padding: .5em 0;
    }

    .description__text {
        font-size: 16px;
    }

    .card {
        margin-left: 4em;
        width: 50%;
    }
}
