@import url("reset.css");
@import url("header.css");
@import url("banner.css");
@import url("carousel.css");
@import url("topics.css");
@import url("contact.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --main-background-color: #EBECEE;
    --second-background-color: #FFFFFF;
    --gradient-background-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);    

    --main-highlight-color: #EB9B00;
    --second-highlight-color: #002F52;

    --main-font: 'Poppins';
    --second-font: 'Josefin Sans'

    --main-font-color: rgba(0, 0, 0, 0.85);
    --black: #000000;
    --light-grey: #858585;
    --grey: #474646;
}

body {
    width: 100vw;
    background-color: var(--main-background-color);
    color: #000000;

    font-family: var(--main-font);
    font-weight: 400;
}
